@using Travel.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body>
    <div class="header-bottom">
    </div>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Bloglarımız</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                            </div>
                            <div class="grid1-desc">
                                <h2>Sitemizdekiler</h2>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="con-text">
                            <div class="grid1-img">
                            </div>
                            <div class="grid1-desc">
                                <p>C#</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                            </div>
                            <div class="grid1-desc">
                                <p>Python</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                            </div>
                            <div class="grid1-desc">
                                <p>Asp.Net Mvc</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:620px;height:400px;">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {
                                    <li><img src="@x.BlogImage" alt="" style="width:620px;height:400px;"></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <div align="center"><h3>Yazılımcı Gençler</h3></div>
                    <div align="center"><p>Geleceğimizi kodlayan genç mühendislerimizin yazdığımız kodlardan faydalanmasını sağlamayı amaç edinmiş bu blog sitemizden istediğiniz gibi faydalanabilirsiniz.</p></div>

                </div>
                @Html.Action("Partial1", "Default")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3", "Default")
                        @Html.Action("Partial4", "Default")

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

